body { background-color: #fff; color: #666; padding-top: 70px; word-wrap: break-word; }
.navbar-default { background-color: #fff; border-color: #eee; }
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover { color: #33B5E5; background-color: #fff; }
.navbar-default .navbar-brand { color: #333; }
.navbar-default .navbar-brand:focus, .navbar-default .navbar-brand:hover { color: #33B5E5; background-color: transparent; }
.navbar-default .navbar-nav>li>a { color: #333; }
.navbar-default .navbar-nav>li>a:hover { color: #33B5E5; }
.post img { border-radius: 3px; box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2); display: inline-block; max-width: 100%; height: auto; padding: 0px; line-height: 1.42857143; background-color: #fff; border: 0px solid #ddd; border-radius: 4px; -webkit-transition: all .2s ease-in-out; -o-transition: all .2s ease-in-out; transition: all .2s ease-in-out; }
.post p { }
h2 { color: #33B5E5; }
h2 a{ color: #33B5E5; }
.time { color: #ccc; }
.time-hide { display: none; }
.post{ margin-bottom: 50px;}